CSV

In [ ]:
# Comma-Separated Values 파일은 쉼표로 값을 구분하는 구분된 텍스트 파일

from langchain_community.document_loaders.csv_loader import CSVLoader

loader = CSVLoader(file_path = './titanic.csv')
docs = loader.load()
print(len(docs))
print(docs[0].metadata)

418
{'source': './titanic.csv', 'row': 0}

In [2]:
lodaer = CSVLoader(
    file_path='./titanic.csv',
    csv_args={
        "delimiter":",",    # 구분자
        "quotechar":'"',    # 인용 부호 문자
        "fieldnames":[
            "Passenger ID",
            "Survival (1: Survived, 0: Died)",
            "Passenger Class",
            "Name",
            "Sex",
            "Age",
            "Number of Siblings/Spouses Aboard",
            "Number of Parents/Children Aboard",
            "Ticket Number",
            "Fare",
            "Cabin",
            "Port of Embarkation",
        ]
    }
)

docs = loader.load()

print(docs[1].page_content)

PassengerId: 893
Survived: 1
Pclass: 3
Name: Wilkes, Mrs. James (Ellen Needs)
Sex: female
Age: 47
SibSp: 1
Parch: 0
Ticket: 363272
Fare: 7
Cabin:
Embarked: S

In [ ]:
# source_column 인자를 사용하여 각 행에서 생성된 문서의 출처를 지정해야함
# 그렇지 않으면 모든 문서의 출처로 file_path가 사용됨

loader = CSVLoader(
    file_path="./titanic.csv", source_column="PassengerId"
)

docs = loader.load()

print(docs[1])

page_content='PassengerId: 893
Survived: 1
Pclass: 3
Name: Wilkes, Mrs. James (Ellen Needs)
Sex: female
Age: 47
SibSp: 1
Parch: 0
Ticket: 363272
Fare: 7
Cabin:
Embarked: S' metadata={'source': '893', 'row': 1}

UnstructurerCSVLoader

In [4]:
from langchain_community.document_loaders.csv_loader import UnstructuredCSVLoader

loader = UnstructuredCSVLoader(file_path='./titanic.csv', mode='elements')
docs = loader.load()
print(docs[0].metadata["text_as_html"][:1000])

<table><tr><td>PassengerId</td><td>Survived</td><td>Pclass</td><td>Name</td><td>Sex</td><td>Age</td><td>SibSp</td><td>Parch</td><td>Ticket</td><td>Fare</td><td>Cabin</td><td>Embarked</td></tr><tr><td>892</td><td>0</td><td>3</td><td>Kelly, Mr. James</td><td>male</td><td>34.5</td><td>0</td><td>0</td><td>330911</td><td>7.8292</td><td/><td>Q</td></tr><tr><td>893</td><td>1</td><td>3</td><td>Wilkes, Mrs. James (Ellen Needs)</td><td>female</td><td>47</td><td>1</td><td>0</td><td>363272</td><td>7</td><td/><td>S</td></tr><tr><td>894</td><td>0</td><td>2</td><td>Myles, Mr. Thomas Francis</td><td>male</td><td>62</td><td>0</td><td>0</td><td>240276</td><td>9.6875</td><td/><td>Q</td></tr><tr><td>895</td><td>0</td><td>3</td><td>Wirz, Mr. Albert</td><td>male</td><td>27</td><td>0</td><td>0</td><td>315154</td><td>8.6625</td><td/><td>S</td></tr><tr><td>896</td><td>1</td><td>3</td><td>Hirvonen, Mrs. Alexander (Helga E Lindqvist)</td><td>female</td><td>22</td><td>1</td><td>1</td><td>3101298</td><td>12.2875</

DataFrameLoader

In [5]:
import pandas as pd

df = pd.read_csv('./titanic.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
from langchain_community.document_loaders import DataFrameLoader

loader = DataFrameLoader(df, page_content_column="Name")
docs = loader.load()
print(docs[0].page_content)
print(docs[0].metadata)

Kelly, Mr. James
{'PassengerId': 892, 'Survived': 0, 'Pclass': 3, 'Sex': 'male', 'Age': 34.5, 'SibSp': 0, 'Parch': 0, 'Ticket': '330911', 'Fare': 7.8292, 'Cabin': nan, 'Embarked': 'Q'}

In [7]:
for row in loader.lazy_load():
    print(row)
    break

page_content='Kelly, Mr. James' metadata={'PassengerId': 892, 'Survived': 0, 'Pclass': 3, 'Sex': 'male', 'Age': 34.5, 'SibSp': 0, 'Parch': 0, 'Ticket': '330911', 'Fare': 7.8292, 'Cabin': nan, 'Embarked': 'Q'}